
    <header class="header"  ng-controller="HeaderController as vm">
        <!-- Header Container [header container] -->
        <div class="container row clearfix">
            <!-- Logo [logo] -->
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a class="logo" ui-sref="/home">
                      <span class="text">
                          Segura
                          <i class="fa fa-pencil-square"></i>
                      </span>
                </a>
            </div><!-- End [logo] -->
            <!-- Main Nav [main nav] -->
            <nav class="main-nav col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <ul ng-if="vm.menu.shouldRender(vm.authentication.user);">
                    <li class="top-shelf dropdown-menu" ng-repeat="item in vm.menu.items | orderBy: 'position'" ng-if="item.shouldRender(vm.authentication.user);" ng-switch="item.type" ui-sref-active="active">

                    <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(vm.authentication.user);">
                        <a ui-sref="{{subitem.state}}({{subitem.params}})" ng-bind="subitem.title"></a>
                    </li>

                        <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
                    </li>
                </ul>

                    <li ng-hide="vm.authentication.user" ui-sref-active="active">
                        <a ui-sref="authentication.signup">Sign Up</a>
                    </li>

                    <li ng-hide="vm.authentication.user">
                        <a ui-sref="authentication.signin">Sign In</a>
                    </li>

                <ul class="user-prefs" ng-show="vm.authentication.user">
                    <li class="dropdown-menu">
                        <div class="btn">
                            <img ng-src="/{{vm.authentication.user.profileImageURL}}" alt="{{vm.authentication.user.displayName}}"  />
                            <span ng-bind="vm.authentication.user.displayName"></span>
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <ul class="subpanel">
                            <li ng-repeat="item in vm.accountMenu.items">
                                <a ui-sref-active="active" ui-sref="{{item.state}}" ng-bind="item.title"></a>
                            </li>
                            <li>
                                <a ui-sref-active="active" href="/api/auth/signout" target="_self">Signout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End [main nav] -->
        </div><!-- End [header container] -->
    </header>

    <script>
        $(document).ready(function(){
            $('.dropdown-menu').hover(function(){
               $(this).children('.subpanel').slideDown();
            }, function(){
                $(this).children('.subpanel').slideUp();
            });
        });
    </script>
